package %package%;

import %InputClassFQN%;
import %OutputClassFQN%;
import dev.mikit.atcoder.lib.debug.Debug;

public class %TaskClass% {

    private static final String YES = "Yes";
    private static final String NO = "No";
    private static final int MOD = (int) 1e9 + 7;

    public void solve(int testNumber, %InputClass% in, %OutputClass% out) {
        Debug.enable("src");

    }
}
