package %package%;

import %InputClassFQN%;
import %OutputClassFQN%;

public class %TaskClass% {

    private static final int MOD = (int) 1e9 + 7;
    private static final long INF = 1_000_000_000_000_000_000L;

    public void solve(int testNumber, %InputClass% in, %OutputClass% out) {
        // out.setBoolLabel(LightWriter.BoolLabel.YES_NO_FIRST_UP);
        // out.setCaseLabel(LightWriter.CaseLabel.NONE);
        if (false) in.next();

    }
}
